<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>downloadPath</key>
		<string>http://7qn8gw.com1.z0.glb.clouddn.com/FWFramework2.framework.zip</string>
		<key>identifier</key>
		<string>com.tw.FWFramework</string>
		<key>version</key>
		<string>1</string>
		<key>frameworkName</key>
		<string>FWFramework</string>
		<key>resources</key>
		<array>
			<string>FWFrameworkViewController</string>
		</array>
	</dict>
</array>
</plist>
